In [1]:
import pandas as pd
df1 = pd.read_csv("winter_data/merged_winter.csv", low_memory=False)
df1_demo = df1[['tripduration','usertype','birth year', 'gender']].copy()
df1_demo = df1_demo.query('gender != 0')
df1_demo = df1_demo[df1_demo.gender.notnull()]

In [2]:
df1_gender = df1_demo.groupby(['gender'], as_index=False).size()
df1_gender = df1_gender.reset_index().rename(columns={"gender":"gender", 0:"numbers"})
f_per = df1_gender['numbers'].iloc[1]/(df1_gender['numbers'].iloc[0]+df1_gender['numbers'].iloc[1])                                              
m_per = df1_gender['numbers'].iloc[0]/(df1_gender['numbers'].iloc[0]+df1_gender['numbers'].iloc[1])
print("The Percentage of Female Riders vs. Male Riders is: ""{:.2%}".format(f_per) + " vs. " "{:.2%}".format(m_per) )

The Percentage of Female Riders vs. Male Riders is: 22.32% vs. 77.68%

In [3]:
df2 = pd.read_csv("bike_trips_data/201802_citibikenyc_tripdata.csv")
df2_rider = df2[['tripduration','usertype','birth year', 'gender']].copy()
df2_rider = df2_rider.query('gender != 0')
df2_gender = df2_rider.groupby(['gender'], as_index=False).size()
df2_gender = df2_gender.reset_index().rename(columns={"gender":"gender", 0:"numbers_2018"})

In [4]:
df3 = pd.read_csv("bike_trips_data/201502-citibike-tripdata.csv")
df3_rider = df3[['tripduration','usertype','birth year', 'gender']].copy()
df3_rider = df3_rider.query('gender != 0')
df3_gender = df3_rider.groupby(['gender'], as_index=False).size()
df3_gender = df3_gender.reset_index().rename(columns={"gender":"gender", 0:"numbers_2015"})

In [5]:
result = df2_gender.merge(df3_gender, on='gender')

f_increase = (result["numbers_2018"].iloc[1] - result["numbers_2015"].iloc[1]) / result["numbers_2015"].iloc[1]
m_increase = (result["numbers_2018"].iloc[0] - result["numbers_2015"].iloc[0]) / result["numbers_2015"].iloc[0]
print("The increase from 2015 to 2018 for femal riders is: " "{:.2%}".format(f_increase) + " vs. " "{:.2%}".format(m_increase) + ", for male riders in the same period.")
print('')
result

The increase from 2015 to 2018 for femal riders is: 448.22% vs. 284.83%, for male riders in the same period.

   gender  numbers_2018  numbers_2015
0       1        621743        161563
1       2        181265         33064

In [6]:
import matplotlib.pyplot as plt
df_age = df1_demo.groupby(['birth year'], as_index=False)['tripduration'].sum()
df_age.plot(kind='scatter', x='birth year', y='tripduration')
plt.savefig('age_vs_tripduration.png')