In [1]:
import os
import pandas as pd
csvpath1 = os.path.join('clean_hawaii_measurements.csv')
df1 = pd.read_csv(csvpath1)
df1.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [2]:
csvpath2 = os.path.join('clean_hawaii_stations.csv')
df2 = pd.read_csv(csvpath2)
df2.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [3]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, Float
from sqlalchemy.orm import Session, relationship
from sqlcredentials import LOCAL_CREDENTIALS
import pymysql
pymysql.install_as_MySQLdb()

Base = declarative_base()

In [4]:
class Measurement(Base):
    __tablename__ = "measurements"
    id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Integer)

In [5]:
class Station(Base):
    __tablename__ = "stations"
    id = Column(Integer, primary_key=True)
    station = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [6]:
dialect = 'mysql'
user = LOCAL_CREDENTIALS["user"]  # 'root'
password = LOCAL_CREDENTIALS["password"]
host = 'localhost'
port = LOCAL_CREDENTIALS["port"]  # 3306
database = 'hawaii'

engine = create_engine(f'{dialect}://{user}:{password}@{host}:{port}'
                       f'/{database}')

In [7]:
import warnings
warnings.filterwarnings("ignore")

Base.metadata.create_all(engine)
session = Session(bind=engine)